<footer>

    <a href="/"><img class="logo" src="/images/1pngR.png" alt=""></a>
    <ul class="redes">  
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
    </ul>
    <ul class="menu">
        <li><a href="https://platform.mediastre.am/account">Platform</a></li>
        <li><a href="https://docs.mediastre.am/es/">Documentacion</a></li>
        <li><a href="https://platform.mediastre.am/developer">API</a></li>
    </ul>
    <p>©2025 SOPORTE MEDIASTREAM │ Todos los derechos reservados </p>

</footer>