<header>    

    <div class="contenedorNavBar">
        <div class="contendeorLogo">
            <a href="/"><img class="logoHeader" src="/images/2pngR.png" alt=""></a>
        </div>
    </div>

</header>