<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head", { url: "/css/clientes.css" }) %>

    <body>
        <%- include('./partials/header') %>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <%- include('./partials/footer') %>
    </body>

</html>